*{
    margin:0;
    padding:0;
}
nav a{
    text-decoration:none;
    
}
nav{
    display:flex;
    justify-content: space-around;
    height:30px;
    padding-top:10px;
}
img{
    height:200px;
    
}
#Image_container{
    border: 5px solid lightcoral;
    display:flex;
    justify-content: space-around;}
header{
    background-color: lightsalmon;
}
.box{
    height:500px;
    width:500px;
    border:3px solid black;
    display:flex;
    
}
#box1{
    background-color: lightblue;
    height:300px;
    width:300px;
}
#box2{
    background-color: lightgreen;
    height:100px;
    width:100px;
    flex-shrink:1;}
#box3{
    background-color: lightcyan;
    height:300px;
    width:300px;
    }
   #media_box{
    height:100px;
    width:100px;
    background-color: green;
    border: 2px solid black;
   } 
   @media only screen and (min-width: 400px) {
    #media_box{
        background-color: lightblue;
    
    }}
    @media only screen and (min-width: 300px) and (max-width: 400px) {
        #media_box{
            background-color: red;
        
        }}
        @media only screen and (max-width: 300px) {
            #media_box{
                background-color: lightgreen;
            
            }}

